In [1]:
import pandas as pd
import numpy as np

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
df = pd.read_csv("medical_insurance.csv")

df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [4]:
df.isna().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [10]:
df["sex"].value_counts()

male      676
female    662
Name: sex, dtype: int64

In [11]:
df["sex"].replace({'female':0,'male':1},inplace=True)

In [12]:
df["smoker"].value_counts()

no     1064
yes     274
Name: smoker, dtype: int64

In [13]:
df["smoker"].replace({'no':0,'yes':1},inplace=True)

In [14]:
df['region'].value_counts()

southeast    364
southwest    325
northwest    325
northeast    324
Name: region, dtype: int64

In [15]:
df=pd.get_dummies(df,columns=['region'])
df

,age,sex,bmi,children,smoker,charges,region_northeast,region_northwest,region_southeast,region_southwest
0,19,0,27.900,0,1,16884.92400,0,0,0,1
1,18,1,33.770,1,0,1725.55230,0,0,1,0
2,28,1,33.000,3,0,4449.46200,0,0,1,0
3,33,1,22.705,0,0,21984.47061,0,1,0,0
4,32,1,28.880,0,0,3866.85520,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...
1333,50,1,30.970,3,0,10600.54830,0,1,0,0
1334,18,0,31.920,0,0,2205.98080,1,0,0,0
1335,18,0,36.850,0,0,1629.83350,0,0,1,0
1336,21,0,25.800,0,0,2007.94500,0,0,0,1
1337,61,0,29.070,0,1,29141.36030,0,1,0,0

In [16]:
df["children"].value_counts()

0    574
1    324
2    240
3    157
4     25
5     18
Name: children, dtype: int64

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age               1338 non-null   int64
 1   sex               1338 non-null   int64
 2   bmi               1338 non-null   float64
 3   children          1338 non-null   int64
 4   smoker            1338 non-null   int64
 5   charges           1338 non-null   float64
 6   region_northeast  1338 non-null   uint8
 7   region_northwest  1338 non-null   uint8
 8   region_southeast  1338 non-null   uint8
 9   region_southwest  1338 non-null   uint8
dtypes: float64(2), int64(4), uint8(4)
memory usage: 68.1 KB

############ Train Test Split ##############

In [18]:
x = df.drop('charges',axis=1)
y = df['charges']

x_train,x_test,y_train,y_test,= train_test_split(x,y,test_size=0.20,random_state=42)

In [19]:
x_train

,age,sex,bmi,children,smoker,region_northeast,region_northwest,region_southeast,region_southwest
560,46,0,19.950,2,0,0,1,0,0
1285,47,0,24.320,0,0,1,0,0,0
1142,52,0,24.860,0,0,0,0,1,0
969,39,0,34.320,5,0,0,0,1,0
486,54,0,21.470,3,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...
1095,18,0,31.350,4,0,1,0,0,0
1130,39,0,23.870,5,0,0,0,1,0
1294,58,1,25.175,0,0,1,0,0,0
860,37,0,47.600,2,1,0,0,0,1
1126,55,1,29.900,0,0,0,0,0,1

In [20]:
y_train

560      9193.83850
1285     8534.67180
1142    27117.99378
969      8596.82780
486     12475.35130
           ...
1095     4561.18850
1130     8582.30230
1294    11931.12525
860     46113.51100
1126    10214.63600
Name: charges, Length: 1070, dtype: float64

############### Model Training #################

In [21]:
model = LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

############# Testing data  Evaluation #############

In [22]:
y_pred = model.predict(x_test)

mse = mean_squared_error(y_test,y_pred)
print("MSE is :",mse)

rmse= np.sqrt(mse)
print("RMSE is :",rmse)

mae = mean_absolute_error(y_test,y_pred)
print("MAE is :",mae)


r2 = r2_score(y_test,y_pred)
print("R2 Score is :",r2)

MSE is : 33596915.85136145
RMSE is : 5796.284659276273
MAE is : 4181.194473753641
R2 Score is : 0.7835929767120724

############# Training data Evaluation #############

In [23]:
y_pred_train = model.predict(x_train)

mse = mean_squared_error(y_train,y_pred_train)
print("MSE is :",mse)

rmse= np.sqrt(mse)
print("RMSE is :",rmse)

mae = mean_absolute_error(y_train,y_pred_train)
print("MAE is :",mae)


r2 = r2_score(y_train,y_pred_train)
print("R2 Score is :",r2)

MSE is : 37277681.70201866
RMSE is : 6105.545160099847
MAE is : 4208.234572492219
R2 Score is : 0.7417255854683333

### Testting on single Row

In [24]:
x.head(1).T

                     0
age               19.0
sex                0.0
bmi               27.9
children           0.0
smoker             1.0
region_northeast   0.0
region_northwest   0.0
region_southeast   0.0
region_southwest   1.0

In [25]:
age = 30
sex ='male'
bmi = 15.38
children = 2
smoker  = 'no'
region = 'southeast'

In [26]:
columns_name = x.columns
columns_name

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region_northeast',
       'region_northwest', 'region_southeast', 'region_southwest'],
      dtype='object')

In [27]:
test_array = np.zeros(len(columns_name))

In [28]:
test_array

array([0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [ ]:
test_array[0] = age
test_array[1] = label_encoded_data["sex"][sex]
test_array[2] = bmi
test_array[3] = children
test_array[4] = label_encoded_data['smoker'][smoker]

In [30]:
label_encoded_data = {"sex":{'female':0,'male':1},
                      'smoker':{'no':0,'yes':1}
                     }

label_encoded_data['smoker'][smoker]
label_encoded_data["sex"][sex]

1

In [31]:
region = "region_" + region
region

'region_southeast'

In [32]:
region_index = np.where(columns_name == region )[0][0]
region_index

7

In [33]:
test_array[0] = age
test_array[1] = label_encoded_data["sex"][sex]
test_array[2] = bmi
test_array[3] = children
test_array[4] = label_encoded_data['smoker'][smoker]
test_array[region_index] = 1

In [34]:
test_array

array([30.  ,  1.  , 15.38,  2.  ,  0.  ,  0.  ,  0.  ,  1.  ,  0.  ])

In [ ]:
age = 30
sex ='female'
bmi = 28.1
children = 2
smoker  = 'no'
region = 'northwest'

In [35]:
np.around(model.predict([test_array])[0],2)

C:\Users\sameer sagavekar\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

1136.64

In [36]:
import pickle
with open ("MI_model.pkl","wb") as f:
    pickle.dump(model,f)

In [41]:
project_data = {"sex":{'female':0,'male':1},
                      'smoker':{'no':0,'yes':1},
                      'columns' :list(x.columns)
                     }

In [42]:
import json

with open("Project_Data.json","w") as f:
    json.dump(project_data,f)